<!DOCTYPE html>
<html lang="en">

<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
    crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="./style.css">

  <meta charset="UTF-8">
  <title>scrapeALot</title>
</head>
<h2>Welcome to scrapeALot</h2>
<p>This site is created with express, mongoDB and mongoose, and handlebars for views</p>
<p>Go to /scrape to pull in post titles from rarecarsforsaleblog.com</p>
<p>Then come back to root to view them</p>

<body>
  {{{ body }}}
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="./app.js"></script>


</html>